body{
    font-family:open sans, sans-serif;
}

header {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imagemLogo{
    width: 100px;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    
}

nav ul {
    display: flex;
    margin-right: 50px;
}

nav ul li {
    margin-right: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none;
    border-radius: 5px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

@media screen and (max-width:1000px) {
    header{
        background-color: rgb(0, 0, 0);
    }

    header img{
        border: 2px solid rgb(255, 0, 0);
        width: 100px;
    }

    nav ul li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 20px;
    }
    
}

p {
    color: red;
}

.destaque{
    color: blue;
    border: 1px solid black
}

.imagemdestaque {
    border: 2px solid rgb(0, 4, 255);
    padding: 10px 10px;
    margin-bottom: 15px;  
    width: 200px;  
}

#servicos {
    padding: 25px;
    background-color: #c9c9c9;
    display: flex;
    flex-direction: column;
}

#exemploPai {
    display: flex;
    flex-direction: row;
}

.exemplo{
    padding: 25px 25px;
    font-size: 36px;
    border: 1px dotted #c79ec7;
    width: 200px;
    height: 200px;
    background-color:pink;
    color: indigo;
}